@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;

}
.max_container{
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: 100vh;
}
::placeholder {
  color: #E6E0E9;
  opacity: 1; 
}

.MuiFormLabel-root {
  color: #E6E0E9 !important;
  /* background: #141218;
  padding: 0px 4px; */
}

.MuiFormLabel-root.Mui-focused {
  color: #E6E0E9 !important;
  
}
input {
  color: #E6E0E9 !important;
  
}

.MuiInputAdornment-root {
  color: #fff !important;
  
}

fieldset {
  border-color: #E6E0E9 !important;

}

.MuiPopper-root{
transform: translate(4px, 76px) !important ;
}




